<h1>Tags</h1>


<h3>Select a tag to view Spending and Budget for the tag</h3>
<h3>Select update on a tag to change the Budget</h3>
<h3> </h3>


<p class="btn--wrapper">
  <a class="btn btn--action" href="/tags/new">New Tag</a>
</p>




<table>
  <tr>
    <th>Tag Name</th>
    <th></th>
    <th></th>
  </tr>
  <% for tag in @tag %>
  <tr>
    <td><a href="/tags/<%= tag.id %>"><%= tag.tag_name %></a></td>
    <td>|</td>
    <td><img width="40" height="30" src= <%= tag.tag_logo %> > </td>
    <td>
      <form action="/tags/<%= tag.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </td>
    <td>
      <a href = "/tags/<%= tag.id %>/update">
        <input class="btn btn--danger" type="submit" value="update" />
      </a>
    </td>
  </tr>
  <% end %>
</table>
