<h1>Transactions</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/transactions/new">New Transaction</a>
</p>

<% for transaction in @transactions %>



<div class="div1">

      <form class = "div1"action="/transactions/<%= transaction.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>

</div>

<div class="parent">
  <p><%= transaction.merchants.merchant_name %> - <%= transaction.tags.tag_name %>: £<%= transaction.transaction_value %> </p>
</div>

<% end %>







<h2>Transaction Total: £<%= Transaction.transaction_total %></h2>
